<!doctype html>
<html lang="de">
<head>
  <title>{% block title %}Zentriq{% endblock %}</title>
  {% include "components/_head_common.html" %}
  {% block head %}{% endblock %}
</head>
<body x-data="{ navOpen: false }" class="app-body">
  {% include "components/app_header.html" %}
  {% include "components/subnav.html" %}
  <main class="app-content" id="inhalt">
    {% from "ui/overlays.html" import toast_container %}
    {{ toast_container() }}
    {% block content %}{% endblock %}
  </main>
</body>
</html>
